input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove arrows in Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
}

/* HERO SECTION BEGIN */

.hero_bg {
    background-image: url("./images/hero_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh !important;
}

.hero_1 {
    /* background-color: white; */
    width: 80%;
    margin: auto;
}

.heading{
    font-size: 6em !important;
    color: white;
    text-shadow: 2px 2px 4px black;
}

/* AUTHENTICATION BEGIN */

.signin{
    width: 40%;
    background-color: rgba(240, 248, 255, 0.41) !important;
    height: 350px;
}
.sigin_input::placeholder{
    color: rgba(211, 48, 48, 0.514);
}
.sigin_input{
    border: none !important;
    border-bottom: 3px solid #0d6efd !important;
    background-color: transparent !important;
    border-radius: 0;
    width: 80%;
}

.invalid{
    animation-name: invalidAnimation;
    animation-duration:  0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes invalidAnimation{
    0% {transform: translateX(5px);}
    25% {transform: translateX(-5px);}
    50% {transform: translateX(5px);}
    75% {transform: translateX(-5px);}
    100% {transform: translateX(5px);}
    
}

/* AUTHENTICATION END */

/* HERO SECTION END */

.swiper{
    width: 50vw;
    height: 30vw;
    margin-left: auto !important;
    margin-right: auto !important;
}
.text{
    text-indent: 5%;
    text-align: justify;
    text-shadow: 0px 0px 2px rgb(122, 158, 224);
}

/* WHY SECTION BEGIN */

.grid_col{
    background-color: blanchedalmond;
}

.why_text{
    text-indent: 15%;
    text-align: justify;
}

/* WHY SECTION END */

/* FEATURES SECTION BEGIN */

.features{
    background-color: rgba(255, 235, 205, 0.274);
}

/* FEATURES SECTION END */

/* HOVER EFFECTS: BOX */

.box:hover{
    
    box-shadow: 0 0 10px rgb(62, 88, 235);
    transform: translateY(-10px);
}

/* Link */
a{
    text-decoration: none;
    transition: color 1s;
}
a:hover{
    color: #0d6efd !important;
}