input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove arrows in Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
}

.hero_bg {
    background-image: url("./images/kalasamala.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.hero_1 {
    /* background-color: white; */
    width: 80%;
    margin: auto;
}

.heading{
    font-size: 6em !important;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.signin{
    width: 40%;
    background-color: rgba(240, 248, 255, 0.61) !important;
    height: 350px;
}
.sigin_input::placeholder{
    color: rgb(83, 166, 235);
}
.sigin_input{
    border: none !important;
    border-bottom: 3px solid #0d6efd !important;
    background-color: transparent !important;
    border-radius: 0;
    width: 80%;
}
.swiper{
    width: 500px;
    height: 300px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.text{
    text-indent: 5%;
    text-align: justify;
}